body {
  font-family: Roboto, sans-serif;
  background: #e5e5e5;
  position: relative;
  width: 1600px;
  height: 2349px;
}
.web {
  color: #2196f3;
  text-decoration: none;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.studio {
  color: #000000;
  text-decoration: none;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.first-text {
  color: #ffffff;
  width: 696px;
  height: 120px;
}

.link {
  color: #212121;
  text-decoration: none;
}
.link:hover {
  color: #2196f3;
}
.button {
  color: #ffffff;
}
.button:hover {
  color: #2196f3;
}
