body {
  font-family: Roboto, sans-serif;
  background: #e5e5e5;
}
.web {
  color: #2196f3;
}
.studio {
  color: #000000;
}
.first-text {
  color: #ffffff;
}
.link {
  color: #212121;
  text-decoration: none;
}
.linl:hover {
  color: #2196f3;
}
