body {
  font-family: Roboto, sans-serif;
  background: #e5e5e5;
  position: relative;
  width: 1600px;
  height: 2349px;
}
.webstudio {
  text-decoration: none;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.webstudio-2 {
  text-decoration: none;
}
.web {
  color: #2196f3;
  text-decoration: none;
}
.studio {
  color: #000000;
  text-decoration: none;
}

.first-text {
  color: #ffffff;
  width: 696px;
  height: 120px;
}

.link {
  color: #212121;
  text-decoration: none;
}
.link-tel-1 {
  color: #757575;
  text-decoration: none;
}
.link-tel-1:hover,
.link-tel-1:focus {
  color: #2196f3;
}
.link-tel-2 {
  color: #757575;
  text-decoration: none;
}
.link-tel-2:hover,
.link-tel-2:focus {
  color: #2196f3;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
.button {
  color: #ffffff;
}
.button:hover,
.button:focus {
  color: #2196f3;
}
.heading-h2-1 {
  width: 352px;
  height: 42px;
}
.heading-h2-2 {
  width: 210px;
  height: 42px;
}
.e-mail {
  color: #757575;
  text-decoration: none;
}
.e-mail:hover,
.e-mail:focus {
  color: #2196f3;
}
